<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <h1>
            Rendered view of todo_app
        </h1>

        <form>
            <input type="text">
            <input list="category">
            <datalist id="category">
                <option value="Academic">
                <option value="Work">
                <option value="Miscellaneous">
            </datalist>
            <input type="date">
            <button>
                Submit
            </button>
        </form>
    </body>
</html>